@font-face {
    font-family: "04B30";
    src: url(/CorporationGamesStraight.otf) format('truetype');
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

h1{
    font-family: '04B30';
    position: absolute;
    color: #98a1f3;
    top: 20%;
    left: 42%;
    font-size: 70px;
    text-shadow: 10px 10px 10px black;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000;
}

.basebg {
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%; 
}

#imginicial{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#astrounauta{
    width: 60%;
    left: -22%;
    position: relative;
    top: -8rem;
}
 
.linkFase2,
.linkFase3,
.linkFase4  {
    z-index: 10;
    position: absolute;  
    font-size: 10px; 
    background-color: rgba(2, 20, 37, 0.986); 
    border-radius: 100%; 
    transition: background-color 0.3s ease;
    color: #00000000;
}

.linkFase1{
    z-index: 10;
    position: absolute;  
    font-size: 10px; 
    background-color: rgba(2, 20, 37, 0); 
    border-radius: 100%; 
    transition: background-color 0.3s ease;
    top: 51%;
    left: 35%; 
    width: 17%; 
    height: 33%;
}

.linkFase2{
    top: 9%;
    left: 38%;
    width: 17%; 
    height: 33%;
}

.linkFase3{
    top: 8%;
    left: 66%;
    width: 17%; 
    height: 33%;
}

.linkFase4{
    top: 53%;
    left: 65%;
    width: 17%; 
    height: 33%;
}

.linkFase1:hover,
.linkFase2:hover,
.linkFase3:hover,
.linkFase4:hover {
    background-color: rgba(3, 1, 22, 0.253);
} 

.cadeado {
    font-size: 50px;
    margin-right: 8px;
    color: red;
    display: inline-block;
    vertical-align: middle;
}

.bloqueado .cadeado {
    display: inline-block;
}

.desbloqueado .cadeado {
    display: none;
}

#pluto,
#mercurio,
#marte,
#netuno{
    position: absolute;
    width: 17%;
    z-index: 5;
}


#pluto{
    top: 7%;
    left: 38%;
    
}

#mercurio{
    top: 51%;
    left: 65%;
}

#marte{
    top: 49%;
    left: 35%;
}

#netuno{
    top: 6%;
    left: 66%;
}


.linkplay,
.linkguias {
    position: absolute;
    left: 40%;  
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    text-decoration: none; 
    font-size: 30px; 
    background-color: rgb(0, 6, 27); 
    border-radius: 10px; 
    width: 100%; 
    height: 13%;
    transition: background-color 0.3s ease;
    font-family: "04B30";
    border: none;
}

.linkplay {
    top: 53%;
}

.linkguias {
    top: 68%;
}

.linkplay:hover,
.linkguias:hover {
    background-color: rgba(74, 59, 207, 0.205);
}

/* The Modal (background) */
.modal {
    z-index: 1000;
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
/* Modal Content/Box */
  .modal-content {
    z-index: 1000;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    height:80% ;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.astronauta {
    margin-left: 50%;
    width: 20%;
    height: 20%;
}

.fases {
    display: none;
}
/* personalização do modal principal  */
#guia-cont {
    width: 888px;
    background-color: #464242;
    color: #f0f0f0;
    border-radius: 40px;
    background-image: url(backgroundfases.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-color: #888;
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 50%; 
    font: 25pt;
    
    #text_guia{
        font-size: 19px;
    }
}
/* estilos dos modais das perguntas  */
#fase-1{
    background-image: url(background/marte.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #888;
    background-color: #464242;
    color: #160d0d;
    border-radius: 40px;
    width: 888px;
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 50%; 
    font: 25pt;
}
#fase-2{
    background-image: url(background/pluto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #888;
    background-color: #464242;
    color: #1d0e0e;
    border-radius: 40px;
    width: 70%;
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    height:90% ;
    font: 25pt;
}
#fase-3{
    background-image: url(background/netuno.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #888;
    background-color: #464242;
    color: #160f0f;
    border-radius: 40px;
    width: 888px;
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 50%; 
    font: 25pt;
}
#fase-4{
    background-image: url(background/mercurio.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #888;
    background-color: #464242;
    color: #1a1414;
    border: 8px solid rgba(6, 102, 212, 0.103);
    border-radius: 20px;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 50%; 
    font: 25pt;
}
.quiz-conteiner{
    border-radius: 20px;
    z-index: 1000;
    background-color: #fefefe00;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
;
}

/* Tamanho de tela pequeno */
@media only screen and (max-width: 600px) {
    .basebg {
        width: 90%;
        left: 5%;
    }
    
    .linkplay,
    .linkguias {
        width: 200px;
        padding: 20px;
    }
}

/* Tamanho de tela médio */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .basebg {
        width: 80%;
        left: 10%;
    }
    
    .linkplay,
    .linkguias {
        width: 240px;
        padding: 28px;
    }
}

/* Tamanho de tela grande */
@media only screen and (min-width: 1025px) {
    .basebg {
        width: 70%;
        left: 15%;
    }
    
    .linkplay,
    .linkguias {
        width: 280px;
        padding: 38px;
    }
}